.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 450px;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  padding: 40px;
  color: #808080;
}

.statList {
  display: flex;
  flex-direction: row;
  background-color: #deb887;
  color: #fff;
  border-radius: 0 0 10px 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0 20px 0;
  width: 100%;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.label {
  font-size: 20px;
  font-weight: 400;
}

.percentage {
  font-size: 28px;
  font-weight: 400;
}
